/* colors */

/*
* {
  al:    #00000000;
  bg:    #1F1F1FFF;
  bg1:   #37474FFF;
  bg2:   #455A64FF;
  bg3:   #546E7AFF;
  fg:    #FFFFFFFF;
}
*/

* {
  al:    #00000000;
  bg:    #282828;
  bg1:   #3c3836;
  bg2:   #504945;
  bg3:   #d65d0e;
  fg:    #ebdbb2;
}
