<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/doc/openbox/menu.xsd">
	<!-- ACCESORIES MENU -->
	<menu id="apps-accessories-menu" label="Accessories">
		<item icon="/usr/share/icons/Faenza/apps/24/file-roller.png" label="Archive Manager">
			<action name="Execute">
				<command>file-roller</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/text-editor.png" label="Gedit">
			<action name="Execute">
				<command>gedit</command>
			</action>
		</item>
		<item icon="/opt/sublime_text_3/Icon/32x32/sublime-text.png" label="Sublime Text">
			<action name="Execute">
				<command>subl3</3>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/gnome-calculator.png" label="Calculator">
			<action name="Execute">
				<command>qalculate-gtk</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/terminal.png" label="Terminal">
			<action name="Execute">
				<command>urxvt</command>
			</action>
		</item>
	</menu>
	<!-- DEVELOPMENT APPS MENU -->
	<menu id="apps-dev-menu" label="Development">
		<item icon="/usr/share/icons/Faenza/apps/24/eclipse.png" label="Eclipse">
			<action name="Execute">
				<command>/usr/bin/eclipse</command>
			</action>
		</item>
		<item icon="/home/jose/Downloads/android-studio/bin/studio.png" label="Android Studio">
			<action name="Execute">
				<command>/home/jose/Downloads/android-studio/bin/studio.sh</command>
			</action>
		</item>
		<item icon="/usr/share/intellij-idea-ultimate-edition/bin/idea.png" label="Intellij Idea">
			<action name="Execute">
				<command>idea</command>
			</action>
		</item>
		<item icon="/opt/phpstorm/bin/webide.png" label="Intellij PhpStorm">
			<action name="Execute">
				<command>phpstorm</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/mysql-workbench.png" label="MySQL Workbench">
			<action name="Execute">
				<command>mysql-workbench</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/pgadmin3.png" label="Pgadmin">
			<action name="Execute">
				<command>pgadmin3</command>
			</action>
		</item>
		<item icon="/opt/sublime_text_3/Icon/32x32/sublime-text.png" label="Sublime Text">
			<action name="Execute">
				<command>subl3</command>
			</action>
		</item>
	</menu>
	<!-- GAMES MENU -->
	<menu id="apps-games-menu" label="Games">
		<item icon="/home/jose/Pictures/diablo2-icon.png" label="Diablo II">
			<action name="Execute">
				<command>diablo2</command>
			</action>
		</item>
		<item icon="/home/jose/Pictures/Minecraft-plain.png" label="Minecraft">
			<action name="Execute">
				<command>/home/jose/bin/minecraft</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/pcsxr-icon.png" label="PCSXR">
			<action name="Execute">
				<command>pcsxr</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/quake3.png" label="Quake III Arena">
			<action name="Execute">
				<command>quake3</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/scummvm.xpm" label="ScummVM">
			<action name="Execute">
				<command>scummvm</command>
			</action>
		</item>
		<item icon="/opt/WorldOfGoo/icons/64x64.png" label="WorldOfGoo">
			<action name="Execute">
				<command>WorldOfGoo</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/zsnes.png" label="Zsnes">
			<action name="Execute">
				<command>zsnes</command>
			</action>
		</item>
	</menu>
	<!-- GRAPHICS APPLICATIONS MENU -->
	<menu id="apps-graphics-menu" label="Graphics">
		<item icon="/usr/share/icons/Faenza/apps/24/blender.png" label="Blender">
			<action name="Execute">
				<execute>blender</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/dia.png" label="Dia Diagram Editor">
			<action name="Execute">
				<command>dia</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/gimp.png" label="Gimp">
			<action name="Execute">
				<command>gimp</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/ristretto.png" label="Ristretto">
			<action name="Execute">
				<command>ristretto</command>
			</action>
		</item>
	</menu>
	<!-- NETWORK APPLICATIONS MENU -->
	<menu id="apps-net-menu" label="Internet">
		<item icon="/usr/share/icons/Faenza/apps/24/chromium.png" label="Chromium">
			<action name="Execute">
				<command>chromium</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/filezilla.png" label="Filezilla">
			<action name="Execute">
				<command>filezilla</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/firefox.png" label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/skype.png" label="Skype">
			<action name="Execute">
				<command>skype</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/transmission.png" label="Transmission">
			<action name="Execute">
				<command>transmission-gtk</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/vinagre.png" label="Vinagre">
			<action name="Execute">
				<command>vinagre</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/wicd-gtk.xpm" label="Wicd">
			<action name="Execute">
				<command>wicd-gtk</command>
			</action>
		</item>
	</menu>
	<!-- MULTIMEDIA -->
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="MPD">
			<action name="Execute">
				<command>urxvt -e musica</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/xfburn.png" label="Xfburn">
			<action name="Execute">
				<command>xfburn</command>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/sonata.png" label="Sonata">
			<action name="Execute">
				<command>sonata</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/totem.png" label="Totem">
			<action name="Execute">
				<command>totem</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/vlc.png" label="VLC">
			<action name="Execute">
				<command>vlc</command>
			</action>
		</item>
	</menu>
	<!-- OFFICE -->
	<menu id="apps-office-menu" label="Office">
		<item icon="/usr/share/icons/Faenza/apps/24/evince.png" label="Evince">
			<action name="Execute">
				<command>evince</command>
			</action>
		</item>
		<item label="FBReader">
			<action name="Execute">
				<command>FBReader</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-calc.png" label="LibreOffice Calc">
			<action name="Execute">
				<command>libreoffice -calc</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-draw.png" label="LibreOffice Draw">
			<action name="Execute">
				<command>libreoffice -draw</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-impress.png" label="LibreOffice Impress">
			<action name="Execute">
				<command>libreoffice -impress</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-math.png" label="LibreOffice Math">
			<action name="Execute">
				<command>libreoffice -math</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-writer.png" label="LibreOffice Writer">
			<action name="Execute">
				<command>libreoffice -writer</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/libreoffice-printeradmin.png" label="LibreOffice Printer Administration">
			<action name="Execute">
				<command>libreoffice-printeradmin</command>
			</action>
		</item>
		<item label="TeXWorks">
			<action name="Execute">
				<command>texworks</command>
			</action>
		</item>
	</menu>
	<!-- FILE MANAGERS -->
	<menu id="apps-fileman-menu" label="File Managers">
		<item icon="/usr/share/icons/Faenza/apps/24/nautilus.png" label="PCmanFM">
			<action name="Execute">
				<command>pcmanfm</command>
			</action>
		</item>
	</menu>
	<!-- SYSTEM TOOLS -->
	<menu id="apps-system-menu" label="System Tools">
		<item icon="/usr/share/pixmaps/dosbox.png" label="Dosbox">
			<action name="Execute">
				<command>dosbox</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/terminal.png" label="Terminal">
			<action name="Execute">
				<command>urxvt</command>
			</action>
		</item>
		<item label="UNetbootin">
			<action name="Execute">
				<command>unetbootin</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/virtualbox.png" label="Virtualbox">
			<action name="Execute">
				<command>VirtualBox</command>
			</action>
		</item>
	</menu>
	<!-- CHANGE DISPLAY DYNAMIC MENU -->
	<menu execute="python2.7 ~/.config/openbox/ob-randr.py" id="randr-menu" label="Display"/>
	<!-- PREFERENCES MENU -->
	<menu id="pref-menu" label="Preferences">
		<menu id="randr-menu"/>
		<item label="Desktop Wallpaper">
			<action name="Execute">
				<command>nitrogen ~/Pictures --no-recurse</command>
			</action>
		</item>
		<item label="Screensaver Settings">
			<action name="Execute">
				<command>xscreensaver-demo</command>
			</action>
		</item>
		<item label="Theme Settings">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
	</menu>
	<!-- SYSTEM ADMINISTRATION MENU -->
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
		<item label="Openbox Menu Editor">
			<action name="Execute">
				<command>obmenu</command>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<!-- EXIT -->
	<menu id="exit-menu" label="Exit">
		<item label="Log Out">
			<action name="Execute">
				<prompt>Log Out</prompt>
				<command>openbox --exit</command>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<prompt>Shutdown</prompt>
				<command>systemctl poweroff</command>
			</action>
		</item>
		<item label="Restart">
			<action name="Execute">
				<prompt>Restart</prompt>
				<command>systemctl reboot</command>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<prompt>Suspend</prompt>
				<command>systemctl suspend</command>
			</action>
		</item>
		<item label="Hibernate">
			<action name="Execute">
				<prompt>Hibernate</prompt>
				<command>systemctl hibernate</command>
			</action>
		</item>
	</menu>
	<!-- MAIN MENU -->
	<menu id="root-menu" label="Openbox 3">
		<item icon="/usr/share/icons/Faenza/apps/24/terminal.png" label="Terminal">
			<action name="Execute">
				<!--execute>exo-open launch TerminalEmulator</execute-->
				<command>urxvt</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/nautilus.png" label="Files">
			<action name="Execute">
				<command>pcmanfm</command>
			</action>
		</item>
		<item icon="/usr/share/icons/Faenza/apps/24/chromium.png" label="Chrome">
			<action name="Execute">
				<command>chromium</command>
			</action>
		</item>
		<separator label="Applications"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-accessories.png" id="apps-accessories-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-development.png" id="apps-dev-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-games.png" id="apps-games-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-graphics.png" id="apps-graphics-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-internet.png" id="apps-net-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-multimedia.png" id="apps-multimedia-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-office.png" id="apps-office-menu"/>
		<menu icon="/usr/share/icons/Faenza/apps/24/nautilus.png" id="apps-fileman-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-system.png" id="apps-system-menu"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/preferences-desktop.png" id="pref-menu"/>
		<separator label="System"/>
		<menu icon="/usr/share/icons/Faenza/categories/24/applications-system.png" id="system-menu"/>
		<separator/>
		<!--menu id="exit-menu"/-->
		<item label="Exit">
			<action name="Execute">
				<command>oblogout</command>
			</action>
		</item>
	</menu>
</openbox_menu>
